.face {
  background: url("../img/bg-1.png") center no-repeat;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    h1 {
      margin-top: 80px;
      color: #535353;
      font-size: 41px;
    }

    h2 {
      font-size: 27px;
      font-weight: 400;
      color: #5892a6;
      margin-top: 19px;
      margin-bottom: 65px;
    }

    .form {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 300px;
      height: 240px;
      border-radius: 20px;
      box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
      input {
        outline: 0;
      }

      .tel {
        width: 220px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        text-align: center;
        margin-bottom: 15px;
      }

      .submit {
        width: 220px;
        height: 40px;
        border-radius: 20px;
        background-color: #68b0c9;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border: 0;

        &:hover {
          background-color: #267a98;
          transition: 0.2s;
        }
      }

      &:hover {
        transition: 0.4s;
        background-color: #fff;
      }
    }

    h3 {
      color: #5892a6;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 700;
    }

    p {
      color: #535353;
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }
}
